{% extends "base.html" %}
{% load custom %}

{% block css %}
{% endblock %}
{% block script %}
{% endblock %}

{% block main %}
	<h2>{{ cur_app.header }}</h2>
	{{ cur_app.description|safe }}
	{% if all_books %}
		<table class="nt_reading_table">
			{% for book in all_books %}
				{% cycle '<tr>' '' '' %}
					<td><a href="{% url gospel_preaching.nt_reading.views.book book.slug %}">{{ book.title }}</a></td>
				{% cycle '' '' '</tr>' %}
			{% endfor %}
			{% closetag all_books 3 '</tr>' %}
		</table>
	{% else %}
		<p>No chapters are available.</p>
	{% endif %}
{% endblock %}
