{% load custom %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Style-Type" content="text/css" />
        <meta property="og:site_name" content="GospelPreaching"/>
        <meta property="og:image" content="http://{{request.get_host}}{{ MEDIA_URL }}logos/logo_100.png"/>
        <meta property="fb:admins" content="1145092409"/>
		<title>GospelPreaching.com</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}style/low_res.css" type="text/css" id="style"/>
	</head>

	<body>
		<div class="outer_band"></div>
		<div class="center_block">
			<div class="wrapper">
				<div class="inner_band">
					<div class="left_menu">
						<ul>
							{% for app in site_apps|splitmenu:4|slice:":4" %}
								<li {% ifequal forloop.counter 1 %}class="menu_first"{% endifequal %}>
									{% ifequal app "&nbsp;" %}
										<span>&nbsp;</span>
									{% else %}{% if app.slug|startswith:"mailto:" %}
										<a href="{{ app.slug }}">{{ app.title }}</a>
									{% else %}
										<a href="/{{ app.slug }}">{{ app.title }}</a>
									{% endif %}{% endifequal %}
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="right_menu">
						<ul>
							{% for app in site_apps|splitmenu:4|slice:"4:" %}
								<li {% ifequal forloop.counter 1 %}class="menu_first"{% endifequal %}>
									{% ifequal app "&nbsp;" %}
										<span>&nbsp;</span>
									{% else %}{% if app.slug|startswith:"mailto:" %}
										<a href="{{ app.slug }}">{{ app.title }}</a>
									{% else %}
										<a href="/{{ app.slug }}">{{ app.title }}</a>
									{% endif %}{% endifequal %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<script type="text/javascript">
				<!--
					if(screen.width > 800){
						document.getElementById('style').href = '{{ MEDIA_URL }}style/high_res.css';
						document.write("<!--[if lt IE 7]>"
							+ "<img class=\"logo_large\" src=\"{{ MEDIA_URL }}logos/logo_450b.png\"/>"
							+ "<![endif]-->"
							+ "<![if gte IE 7]>"
							+ "<img class=\"logo_large\" src=\"{{ MEDIA_URL }}logos/logo_450.png\" id=\"logo_a\"/>"
							+ "<![endif]>");
					} else {
						document.write("<!--[if lt IE 7]>"
							+ "<img class=\"logo_large\" src=\"{{ MEDIA_URL }}logos/logo_350b.png\"/>"
							+ "<![endif]-->"
							+ "<![if gte IE 7]>"
							+ "<img class=\"logo_large\" src=\"{{ MEDIA_URL }}logos/logo_350.png\" id=\"logo_a\"/>"
							+ "<![endif]>");
					}
				//-->
				</script>
			</div>
		</div>
		<script type="text/javascript">
		<!--
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + 
				"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		//-->
		</script>
		<script type="text/javascript">
		<!--
			try {
				var pageTracker = _gat._getTracker("UA-9202863-1");
				pageTracker._trackPageview();
			} catch(err) {}
		//-->
		</script>
	</body>
</html>
