{% extends "base.html" %}

{% block css %}
{% endblock %}
{% block script %}
{% endblock %}

{% block main %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='.' method='post'>
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username"><br />
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"><br />

    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  <form action='.' method='post'>
<p><a href="{% url django.contrib.auth.views.password_reset %}">Reset Password</a><br />
<a href="{% url accounts.views.register %}">User Registration</a></p>
{% endblock %}
