{% extends "base.html" %}

{% block css %}
{% endblock %}
{% block script %}
{% endblock %}

{% block main %}
<h2>It looks like you're lost...</h2>
<img class="left" src="{{ MEDIA_URL }}img/lost_sm.jpg" />
<h4>404 Error: Page Not Found</h4>
<p class="simple_txt">The page you're looking for isn't here. It's either moved or doesn't exist. You may have typed the url wrong, clicked on an incorrect external link, or it may have been removed.</p>
<a href="http://www.flickr.com/photos/jaqian/350269636/">photo by jaqian</a>
{% endblock %}
