<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<title>{% block title %}Gospel Preaching.com{% endblock %}</title>
<!--
        <meta property="og:site_name" content="GospelPreaching"/>
        <meta property="og:image" content="http://{{request.get_host}}{{ MEDIA_URL }}logos/logo_100.png"/> -->
        <meta property="fb:admins" content="1145092409"/>
        {% block meta %}{% endblock %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}style/content.css" type="text/css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}style/content_low_res.css" type="text/css" id="var_style" />
		{% block css %}{% endblock %}
        <script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery.min.js"></script>
		{% block script %}{% endblock %}
	</head>

	<body>
		<div class="main">
			{% block main %}{% endblock %}
            <div class="footer">&copy; {% now "Y" %} Contending for the Faith Publications. All rights reserved. <a href="/legal/">Legal / Source Code</a><br />Design by <a href="http://dn-webdesign.dnsalias.com/">David Nichols</a></div>
		</div>
		{% include "master/side_menu.html" %}
		<div class="header_bar">
			<h1><a href="/">Gospel Preaching.com</a></h1>
		</div>
		<a href="/"><!--[if lt IE 7]><img class="logo" src="{{ MEDIA_URL }}logos/simple_logo_150b.png"/><![endif]--><![if gte IE 7]><img class="logo" src="{{ MEDIA_URL }}logos/simple_logo_150.png"/><![endif]></a>
		<script type="text/javascript">
		<!--
			if(screen.width > 800){
				document.getElementById('var_style').href = '';
			}
		//-->
		</script>
		<script type="text/javascript">
		<!--
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + 
				"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		//-->
		</script>
		<script type="text/javascript">
		<!--
			try {
				var pageTracker = _gat._getTracker("UA-9202863-1");
				pageTracker._trackPageview();
			} catch(err) {}
		//-->
		</script>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '108251729217809', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
	</body>
</html>
