{% load custom %}

{% if page.has_other_pages %}
	<div class="navigation">
		{% if page.has_previous %}
			<a class="prev" href="{% if order %}{% pageurl page.previous_page_number order %}{% else %}{% pageurl page.previous_page_number %}{% endif %}">Previous</a>
		{% endif %}
		{% if page.has_next %}
			<a class="next" href="{% if order %}{% pageurl page.next_page_number order %}{% else %}{% pageurl page.next_page_number %}{% endif %}">Next</a>
		{% endif %}
		{% if page.has_other_pages %}
			{% if order %}{% smartpagelinks pager page 2 order %}{% else %}{% smartpagelinks pager page 2 %}{% endif %}
		{% endif %}
	</div>
{% endif %}
